## Geographical position

The geograhical position step has been hard. IN particular, I had difficulties in understanding which would have been the best choice for extracting the latitutes and calculating the distance. On the internet we can find many. PLease find my final solution implement in the _fun_external_factors.py_ file.

In [11]:
import math
import arrow

import ipynb 
import os.path
import json
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from dotenv import load_dotenv
from networkx.algorithms import bipartite
from importlib import reload

from typing import List

load_dotenv(verbose=True)

True

In [12]:
# import functions from py file 

import functions.fun
reload(functions.fun)
from functions.fun import CB_data_cleaning, df_from_api_CB, extract_nodes, extract_data_from_column
from functions.fun import nx_dip_graph_from_pandas, filter_dict, check_desc
from functions.fun import extract_classes_company_tech, degree_bip, insert_data_classes

In [16]:
# import functions from py file 

import functions.fun_external_factors
reload(functions.fun_external_factors)
from functions.fun_external_factors import rank_comparison, calibrate_analytic, create_exogenous_rank, haversine_distance, extract_coordinates_location

In [17]:
# import classes 

import classes
reload(classes)
from classes import Company, Investor, Technology

### Download data from CSV

In [ ]:
df_start = pd.read_csv("data/data_cb/organizations.csv")

In [ ]:
df_start.head()

In [ ]:
df_start.columns

### Data Cleaning

for now we decide to use as key the name. it would be better to use the uuid

In [8]:
to_drop = [
    'type',
    'permalink',
    'cb_url',   
    'created_at',
    'domain',
    'address',
    'state_code',
    'updated_at',
    'legal_name',
    'roles',
    'postal_code',
    'homepage_url',
    'num_funding_rounds',
    'total_funding_currency_code',
    'phone',
    'email',
    'num_exits',
    'alias2',
    'alias3',
    'num_exits',
    'logo_url',
    'alias1',
    'last_funding_on',
    'twitter_url',
    'facebook_url'
]

to_rename = { 'category_groups_list': 'category_groups' }

drop_if_nan = [
    'category_groups',
    'rank'
]

to_check_double = {}

sort_by = "rank"

In [9]:
df = CB_data_cleaning(df_start, to_drop, to_rename, to_check_double, drop_if_nan, sort_by)

In [10]:
df.head()

,uuid,name,rank,country_code,region,city,status,short_description,category_list,category_groups,total_funding_usd,total_funding,founded_on,closed_on,employee_count,linkedin_url,primary_role
1178,74a20af3-f4dd-6188-de60-c4ee6cd0ca4a,Ant Group,1.0,CHN,Zhejiang,Hangzhou,operating,Ant Group strives to enable all consumers and ...,"Banking,Financial Services,FinTech,Payments","Financial Services,Lending and Investments,Pay...",2.200000e+10,2.200000e+10,2014-10-01,NaN,5001-10000,https://www.linkedin.com/company/antgroup/,company
4042,022417b5-4980-6c54-0f3c-6736bbbb1a5e,Spotify,2.0,SWE,Stockholms Lan,Stockholm,ipo,Spotify is a commercial music streaming servic...,"Audio,Cloud Computing,Music,Music Streaming,Vi...","Content and Publishing,Internet Services,Media...",2.085425e+09,2.085425e+09,2006-04-23,NaN,5001-10000,http://www.linkedin.com/company/spotify,company
349,468bef9f-2f50-590e-6e78-62e3adb05aa1,Citi,3.0,USA,New York,New York,ipo,Citigroup is a diversified financial services ...,"Banking,Credit Cards,Financial Services,Wealth...","Financial Services,Lending and Investments,Pay...",8.700000e+09,8.700000e+09,1998-10-08,NaN,10000+,https://www.linkedin.com/company/citi,investor
211260,a40d0a1f-f32c-a1e9-1bbd-a10bb0eca2e7,Deliveroo,4.0,GBR,England,London,ipo,Deliveroo is an online food delivery service t...,"Delivery,Food and Beverage,Food Delivery,Same ...","Administrative Services,Food and Beverage,Tran...",1.712683e+09,1.712683e+09,2012-01-01,NaN,5001-10000,https://www.linkedin.com/company/deliveroo,company
621119,00daca16-8311-454b-84e0-24a40d16be9c,Antler,5.0,SGP,Central Region,Singapore,operating,Antler is a global early-stage venture capital...,Venture Capital,"Financial Services,Lending and Investments",7.800000e+07,7.800000e+07,2017-01-01,NaN,101-250,https://www.linkedin.com/company/antlerglobal/,investor

In [11]:
df.columns

Index(['uuid', 'name', 'rank', 'country_code', 'region', 'city', 'status',
       'short_description', 'category_list', 'category_groups',
       'total_funding_usd', 'total_funding', 'founded_on', 'closed_on',
       'employee_count', 'linkedin_url', 'primary_role'],
      dtype='object')

In [12]:
df_places = df[['country_code', 'region', 'city']]
df_places.head()

       country_code          region       city
1178            CHN        Zhejiang   Hangzhou
4042            SWE  Stockholms Lan  Stockholm
349             USA        New York   New York
211260          GBR         England     London
621119          SGP  Central Region  Singapore

In [13]:
# only in USA and not duplicate 

df_places = df_places[df_places['country_code']=='USA']
df_places = df_places.drop_duplicates('region')
df_places.head(10)

       country_code          region           city
349             USA        New York       New York
85286           USA      California  San Francisco
2005            USA   Massachusetts      Cambridge
287787          USA  North Carolina           Cary
176113          USA         Georgia        Atlanta
502612          USA           Texas         Austin
59901           USA        Maryland       Bethesda
281077          USA         Florida     Clearwater
364540          USA        Michigan        Detroit
287392          USA    Pennsylvania   Philadelphia

In [14]:
df_places = df_places[:10]

In [15]:
import haversine as hs

In [16]:
loc1=(28.426846,77.088834)
loc2=(28.394231,77.050308)
hs.haversine(loc1,loc2)

5.229712941541709

In [19]:
from geopy.geocoders import Nominatim
import geopandas
import geocoder

In [20]:
geolocator = Nominatim(user_agent='myapplication')

### Investors' location

Let us suppose the investor is located in NY

In [21]:
city_inv = "New York"
region_inv = "New York"
country_inv = "USA"

str_place = city_inv + ', ' + region_inv + ', ' + country_inv

location = geolocator.geocode(str_place) # coversion to conventional address (valid for the next command)

lat_inv = location.latitude
lon_in= location.longitude

In [27]:
city_inv = "London"
region_inv = "England"
country_inv = "EN"

str_place = city_inv + ', ' + region_inv + ', ' + country_inv

location = geolocator.geocode(str_place) # coversion to conventional address (valid for the next command)

lat_c = location.latitude
lon_c= location.longitude

In [28]:
haversine_distance(lat_c, lon_c, lat_inv, lon_in)

5570.248637132771

In [26]:
haversine_distance(lat_c, lon_c, lat_inv, lon_in)

550.5149205808382

In [22]:
h_dis = []
lat_list = []
lon_list = []

for index, row in df_places.iterrows():
    
    str_place = row['city'] + ', ' + row['region'] #+ ', ' +  row['country_code']

    location = geolocator.geocode(str_place) # coversion to conventional address (valid for the next command)
    
    lat = location.latitude
    lon = location.longitude
    
    lat_list.append(lat)
    lon_list.append(lon)
    
    # Haversine distance between the company and the investor
    h = haversine_distance(lat, lon, lat_inv, lon_in)
    h_dis.append(h)

In [14]:
!pip install sympy

Collecting sympy
  Downloading sympy-1.8-py3-none-any.whl (6.1 MB)
     |████████████████████████████████| 6.1 MB 4.1 MB/s eta 0:00:01
Collecting mpmath>=0.19
  Downloading mpmath-1.2.1-py3-none-any.whl (532 kB)
     |████████████████████████████████| 532 kB 56.1 MB/s eta 0:00:01
Installing collected packages: mpmath, sympy
Successfully installed mpmath-1.2.1 sympy-1.8

In [ ]:
import sympy
s = "for index, row in df_places.iterrows():"
sympy.latex(eval(s))

In [23]:
h_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
h_max=10

s = "{c_name:h/h_max for (c_name,h) in h_dict.items()}"
sympy.latex(eval(s))

'\\left\\{ \\mathtt{\\text{a}} : 0.1, \\  \\mathtt{\\text{b}} : 0.2, \\  \\mathtt{\\text{c}} : 0.3, \\  \\mathtt{\\text{d}} : 0.4, \\  \\mathtt{\\text{e}} : 0.5\\right\\}'