In [1]:
import json
import requests
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize 


load_dotenv(verbose=True)

True

In [2]:
api_key = os.getenv("CRUNCHBASE_API_KEY") # extract API key 
base_url = "https://api.crunchbase.com/api/"
params = {"user_key" : api_key}

**API notes**:

- If we do specify any limit, the limit is set to 50 items

## Simple data extraction without filtering

In [3]:
query = {
    "field_ids": [
        "name",
        "location_identifiers",
        # "categories",
        # "website",
        # "linkedin",
        "listed_stock_symbol",
        "location_identifiers",
        "num_acquisitions",
        # "num_articles",
        # "num_current_positions",
        "status"
    ],
    "limit": 100,
}

In [4]:
r = requests.post(f"https://api.crunchbase.com/api/v4/searches/organizations", json=query, params=params)

In [ ]:
json_data = json.loads(r.text)

In [ ]:
df = pd.json_normalize(json_data['entities'])
df = df.drop("uuid", axis=1)
df.head()

### Add filter: only companies whose number of articles are 110

In [7]:
query1 = {
    "field_ids": [
        "name",
        "location_identifiers",
        "listed_stock_symbol",
        "location_identifiers",
        "num_acquisitions",
        "status",
        "num_articles",
    ],
    "limit": 10,
    "query": [
        {
          "type": "predicate",
          "field_id": "num_articles",
          "operator_id": "eq",
          "values": [110]
        },
    ]
    
}

In [8]:
r = requests.post(f"https://api.crunchbase.com/api/v4/searches/organizations", json=query1, params=params)

In [9]:
json_data = json.loads(r.text)
# json_data

In [10]:
df = pd.json_normalize(json_data['entities'])
df = df.drop("uuid", axis=1)
df.head()

,properties.name,properties.identifier.permalink,properties.identifier.image_id,properties.identifier.uuid,properties.identifier.entity_def_id,properties.identifier.value,properties.status,properties.location_identifiers,properties.num_articles,properties.num_acquisitions
0,Algorand,algorand,y1vj0utwbwnvtqvebpl9,12367b55-7b07-4ca6-a902-258d5ff6bac8,organization,Algorand,operating,"[{'permalink': 'boston-massachusetts', 'uuid':...",110,NaN
1,TrustRadius,trustradius,v1505336761/qwd6i0uw0hwwmf83wk89.jpg,ceee2aca-e2ae-156d-33aa-6d00b666e17d,organization,TrustRadius,operating,"[{'permalink': 'austin-texas', 'uuid': '05f9ce...",110,NaN
2,aCommerce,acommerce,frtgksxtrnugwctukguo,5590fd14-c17a-9d39-b43c-157fd3537076,organization,aCommerce,operating,"[{'permalink': 'bangkok-krung-thep', 'uuid': '...",110,NaN
3,StyleSeat,styleseat,s1kveuruswfmvwdramgn,2f83b3a0-32ca-da50-f476-3c642df8d663,organization,StyleSeat,operating,"[{'permalink': 'san-francisco-california', 'uu...",110,1.0
4,Behalf,behalf,v1473241962/jvrhg9qcxzo5ablujd0u.png,fae6249a-80d4-86d6-0a31-5768ea19e6d6,organization,Behalf,operating,"[{'permalink': 'new-york-new-york', 'uuid': 'd...",110,NaN

### Add filter: only companies whose number of articles are 110 and still operating

In [39]:
query1 = {
    "field_ids": [
        "name",
        "location_identifiers",
        "listed_stock_symbol",
        "location_identifiers",
        "num_acquisitions",
        "status",
        "num_articles",
    ],
    "limit": 10,
    "query": [
        {
          "type": "predicate",
          "field_id": "num_articles",
          "operator_id": "eq",
          "values": [110]
        },
        {
          "type": "predicate",
          "field_id": "status",
          "operator_id": "eq",
          "values": ["operating"]
        },
    ]
    
}

In [40]:
r = requests.post(f"https://api.crunchbase.com/api/v4/searches/organizations", json=query1, params=params)

In [41]:
json_data = json.loads(r.text)
# json_data

In [42]:
df = pd.json_normalize(json_data['entities'])
df = df.drop("uuid", axis=1)
df.head()

,properties.name,properties.identifier.permalink,properties.identifier.image_id,properties.identifier.uuid,properties.identifier.entity_def_id,properties.identifier.value,properties.status,properties.location_identifiers,properties.num_articles,properties.num_acquisitions
0,Algorand,algorand,y1vj0utwbwnvtqvebpl9,12367b55-7b07-4ca6-a902-258d5ff6bac8,organization,Algorand,operating,"[{'permalink': 'boston-massachusetts', 'uuid':...",110,NaN
1,TrustRadius,trustradius,v1505336761/qwd6i0uw0hwwmf83wk89.jpg,ceee2aca-e2ae-156d-33aa-6d00b666e17d,organization,TrustRadius,operating,"[{'permalink': 'austin-texas', 'uuid': '05f9ce...",110,NaN
2,aCommerce,acommerce,frtgksxtrnugwctukguo,5590fd14-c17a-9d39-b43c-157fd3537076,organization,aCommerce,operating,"[{'permalink': 'bangkok-krung-thep', 'uuid': '...",110,NaN
3,StyleSeat,styleseat,s1kveuruswfmvwdramgn,2f83b3a0-32ca-da50-f476-3c642df8d663,organization,StyleSeat,operating,"[{'permalink': 'san-francisco-california', 'uu...",110,1.0
4,Behalf,behalf,v1473241962/jvrhg9qcxzo5ablujd0u.png,fae6249a-80d4-86d6-0a31-5768ea19e6d6,organization,Behalf,operating,"[{'permalink': 'new-york-new-york', 'uuid': 'd...",110,NaN

### Add filter: only companies in Switzerland

In [61]:
query3 = {
    "field_ids": [
        "name",
        "created_at",
        "description",
        "location_identifiers",
        "funding_stage",
        "funding_total",
    ],
    "limit": 1000,
    "query": [
        {
          "type": "predicate",
          "field_id": "location_identifiers",
          "operator_id": "includes",
          "values": ["Switzerland"]
        },
    ]
}

In [62]:
r = requests.post(f"https://api.crunchbase.com/api/v4/searches/organizations", json=query3, params=params)

In [ ]:
json_data = json.loads(r.text)

In [64]:
df = pd.json_normalize(json_data['entities'])
df = df.drop(["uuid", "properties.identifier.image_id", "properties.identifier.uuid"], axis=1)
df.head()

,properties.name,properties.identifier.permalink,properties.identifier.entity_def_id,properties.identifier.value,properties.description,properties.funding_total.value_usd,properties.funding_total.currency,properties.funding_total.value,properties.created_at,properties.location_identifiers,properties.funding_stage
0,Partners Group,partners-group,organization,Partners Group,"Partners Group are a unique, global alternativ...",500000000.0,USD,500000000.0,2009-01-04T00:00:23Z,"[{'permalink': 'baar-zug', 'uuid': '161b7401-4...",ipo
1,Novartis,novartis,organization,Novartis,Novartis is a global healthcare company based ...,6500000.0,USD,6500000.0,2008-12-24T20:27:57Z,"[{'permalink': 'basel-basel-stadt', 'uuid': '6...",ipo
2,Polkadot,polkadot,organization,Polkadot,Polkadot is a protocol that allows independent...,188700000.0,USD,188700000.0,2017-10-16T04:28:22Z,"[{'permalink': 'zug-zug', 'uuid': '2374ed28-a8...",NaN
3,ConsenSys,consensus-systems,organization,ConsenSys,ConsenSys is a market leading blockchain techn...,10000000.0,USD,10000000.0,2015-06-12T15:38:04Z,"[{'permalink': 'zug-zug', 'uuid': '2374ed28-a8...",NaN
4,Climeworks,climeworks,organization,Climeworks,Climeworks captures CO2 from air via commercia...,138733320.0,CHF,133630000.0,2014-04-28T12:29:02Z,"[{'permalink': 'zürich-zurich', 'uuid': 'bd22e...",NaN

## People Dataset (same logic)

In [25]:
query_people = {
    "field_ids": [
        "investor_stage",
        "linkedin",
        "location_identifiers",
        "num_articles"
    ],
    "limit": 10,
}

In [26]:
r = requests.post(f"https://api.crunchbase.com/api/v4/searches/people", json=query_people, params=params)

In [27]:
json_data = json.loads(r.text)
# json_data

In [28]:
df = pd.json_normalize(json_data['entities'])
df = df.drop("uuid", axis=1)
df.head()

,properties.identifier.permalink,properties.identifier.image_id,properties.identifier.uuid,properties.identifier.entity_def_id,properties.identifier.value,properties.investor_stage,properties.linkedin.value,properties.location_identifiers,properties.num_articles
0,bill-gates,v1448909339/owy8vzc7yerywuljcna0.jpg,62ab53b0-3a28-0cb7-9995-fd3215b78e41,person,Bill Gates,[seed],https://www.linkedin.com/in/williamhgates,"[{'permalink': 'seattle-washington', 'uuid': '...",4385
1,kunal-shah-2,pnxnrhtqaw7jxsti0qqx,7425ae5a-3f37-467f-b9d2-9511d89d2b55,person,Kunal Shah,[initial_coin_offering],NaN,"[{'permalink': 'mumbai-maharashtra', 'uuid': '...",110
2,tim-kendall,yzky7jb7an8uf66y6wcr,256ac5b8-d529-0780-8c78-80f38a459074,person,Tim Kendall,[seed],http://www.linkedin.com/pub/tim-kendall/0/2/657,"[{'permalink': 'san-francisco-california', 'uu...",113
3,mark-zuckerberg,v1448830269/gzcifut4c2xah95x0ewd.jpg,a01b8d46-d311-3333-7c34-aa3ae9c03f22,person,Mark Zuckerberg,[seed],NaN,"[{'permalink': 'palo-alto-california', 'uuid':...",3986
4,justin-mateen,v1397634299/cef9ad8ffa025ae830bd7cbf089c976e.jpg,1601ab0b-87bb-5ee5-9545-c289d4f706cf,person,Justin Mateen,"[convertible_note, early_stage_venture, seed, ...",http://www.linkedin.com/pub/justin-mateen/6a/a...,"[{'permalink': 'united-states', 'uuid': 'f110f...",98